@model IEnumerable<CMS.MODEL.Library.LibraryRecordsEditModel>
@{
    ViewBag.Title = "ListLibraryCards";
}
<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <section class="page-title-section overlay" style="background-image: url('')">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb" @*data-aos="fade-right" data-aos-delay="250"*@>
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="courses.html">Addmission</a></li>
                        <li class="list-inline-item text-white h3 font-secondary nasted">FresherStudents List</li>
                    </ul>
                    <p class="text-lighten" @*data-aos="fade-right" data-aos-delay="350"*@>Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section" style="padding: 57px;">
        <div class="container">
            <p>Search Anything in the input field to search the table:</p>
            <input class="form-control" id="myInput" type="text" placeholder="Search Cards...">
            <br>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>StudentName</th>
                        <th>StreamName</th>
                        <th>SemesterName</th>
                        <th>LibraryCardSerialNumber</th>
                        <th>IsBookTaken</th>
                        <th>Links</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.LibraryCardSerialNumber">
                            <td>@item.StudentName</td>
                            <td>@item.Course</td>
                            <td>@item.Semester</td>
                            <td>@(string.IsNullOrEmpty(item.LibraryCardSerialNumber.ToString()) ? "Card Is Not Created": item.LibraryCardSerialNumber )</td>
                            <td>@((item.IsBookTaken == false) ? "N/A" : "Book Taken" )</td>
                            <td>
                                <a href="#" class="" onclick="ConfirmDelete('@item.LibraryCardSerialNumber')"><i class="bi bi-trash" style="font-size:20px;padding-right:15px;color:red;" ></i></a>
                            <span></span>
                                <a href="@item.Code" id="ImagePath" class="" data-toggle="modal" data-target="#exampleModalCenter"><i class="bi bi-eye" style="font-size:20px;padding-right:15px;" onclick="Myfunction()"></i></a>
                            <span></span> 
                                <a href="#" target="_blank" class=""><i class="bi bi-book" style="font-size:20px;padding-right:15px;color:lawngreen"></i></a>  
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="#" id="myImg" alt="img" style="height:100%;width:100%" />
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Delete Employee</h3>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to Remove this Employee?</h4>



                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>
                </div>

            </div>

        </div>

    </div>
    <input type="hidden" id="hiddenEmployeeId" />
    <script>
        function Myfunction() {
            var ImageUrl = document.getElementById('ImagePath').href;
            var varsplit = ImageUrl.split('localhost:44377');
            document.getElementById("myImg").src = varsplit[1];
        }
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        function ConfirmDelete (EmployeeId) {

            $("#hiddenEmployeeId").val(EmployeeId);
            $("#myModal").modal('show');

        }

        var DeleteEmployee = function () {



            var empId = $("#hiddenEmployeeId").val();

            $.ajax({

                type: "POST",
                url: "/AdminPortal/DeleteLibraryCard",
                data: { LcID: empId },
                success: function (result) {

                    $("#myModal").modal("hide");
                    $("#row_" + empId).remove();

                }

            })

        }
    </script>
</body>
</html>
