@model CMS.MODEL.Master.DropDownListModel

@{
    ViewBag.Title = "TeacherAppointment";
}

<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="page-link">Teacher Appointment</a></li>
                    <li class="list-inline-item text-white h3 font-secondary"></li>
                </ul>
                <p class="text-lighten">Do you have other questions? Don't worry, there aren't any dumb questions. Just fill out the form below and we'll get back to you as soon as possible.</p>
            </div>
        </div>
    </div>
</section>


<section class="section bg-gray">
    <form action="/AdminPortal/AppointTeacher" method="post" enctype="multipart/form-data">
        <div>
            <div class="row">
                <div class="col">
                    @Html.DropDownListFor(model => model.StreamGuid, new SelectList(ViewBag.StreamList, "StreamGuid", "Stream"), "Select Your Stream", new { @class = "form-control mb-3" })
                    @Html.ValidationMessageFor(model => model.StreamGuid, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.DropDownListFor(model => model.SemesterGuid, new SelectList(" "), "Select Your semester", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SemesterGuid, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.DropDownListFor(model => model.TeacherName, new SelectList(ViewBag.TeacherNames, "TeacherGuid", "TeacherName"), "Choose Teacher..", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TeacherGuid, "", new { @class = "text-danger" })
                </div>
                <div class="col">
                    @Html.DropDownListFor(model => model.Subejct, new SelectList(ViewBag.SubjectNames, "SubejctGuid", "Subejct"), "Choose Subject..", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubejctGuid, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            <button type="reset" class="btn btn-primary btn-sm">Reset</button>
        </div>
    </form>
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#StreamGuid").change(function () {
            $.get("/AdminPortal/SemeList", { StreamGuid: $("#StreamGuid").val() }, function (data) {
                $("#SemesterGuid").empty();
                $.each(data, function (index, row) {
                    $("#SemesterGuid").append("<option value='" + row.SemesterGuid + "'>" + row.Semester + "</option>")
                })
            })
        })
    });
</script>
