@model CMS.MODEL.Master.DropDownListModel

@{
    ViewBag.Title = "CountryList";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.CountryList, "CountryGuid", "Country"), "Select Your Country", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CountryGuid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Stream, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Stream, new SelectList(ViewBag.StreamList, "StreamGuid", "Stream"), "Select Your Stream", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StreamGuid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.Statelist, "StateGuid", "State"), "Select Your State", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StateGuid, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.GenderList, "GenderGuid", "Gender"), "Select Your Gender", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GenderGuid, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.City, new SelectList(ViewBag.CityList, "CityCode", "City"), "Select Your City", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CityGuid, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Semester, new SelectList(ViewBag.SemesterList, "SemesterGuid", "Semester"), "Select Your City", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SemesterGuid, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
}