@model CMS.MODEL.Master.DropDownListModel

@{
    ViewBag.Title = "StateList";
    Layout = null;
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.Statelist, "StateGuid", "State"), "Select Your State", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StateGuid, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}