@model List<CMS.MODEL.Master.ExamPaperModel>

@{
    ViewBag.Title = "GetExamPaper";
}

<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="page-link">ExamPapers</a></li>
                    <li class="list-inline-item text-white h3 font-secondary"></li>
                </ul>
                <p class="text-lighten">Do you have other questions? Don't worry, there aren't any dumb questions. Just fill out the form below and we'll get back to you as soon as possible.</p>
            </div>
        </div>
    </div>
</section>

<section class="section bg-gray">
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>PaperName</th>
                    <th>CourseName</th>
                    <th>SemesterName</th>
                    <th>ExamYear</th>
                    <th>View Paper</th>
                    <th>Links <span></span><i class="bi bi-link"></i> </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item5 in Model)
                {
                    <tr>
                        <td>@item5.PaperName</td>
                        <td>@item5.Stream</td>
                        <td>@item5.Semester</td>
                        <td>@item5.ExamYear</td>
                        <td><a href="@item5.PaperDestinationpath" target="_blank" class="class=" btn btn-primary btn-sm"">View Paper</a></td>
                        <td><a href="@item5.PaperDestinationpath" target="_blank" class="class=" btn btn-primary btn-sm"" download="@item5.Course+@item5.Semester+@item5.PaperName">Download Paper</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>


