@model Tuple<List<CMS.MODEL.Event.EventGalleryModel>, CMS.MODEL.Event.EventGalleryModel>

@{
    ViewBag.Title = "EventImages";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Styles/GlobalCssProperties/Gallery.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
</head>
<body>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <p class="text-center">EventName : @Model.Item2.EventName</p>
                <p class="text-center">EventPlace : @Model.Item2.EventPlace</p>
                <p class="text-center">EventDate : @Model.Item2.EventDate</p>
                @*<p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>*@
            </div>
            <div class="row photos">
                @foreach (var item in Model.Item1)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="@item.ImageFolderPath" data-lightbox="photos"><img class="img-fluid" src="@item.ImageFolderPath"></a></div>
                }
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script>
        //getting all required elements
        const gallery = document.querySelectorAll(".image"),
            previewBox = document.querySelector(".preview-box"),
            previewImg = previewBox.querySelector("img"),
            closeIcon = previewBox.querySelector(".icon"),
            currentImg = previewBox.querySelector(".current-img"),
            totalImg = previewBox.querySelector(".total-img"),
            shadow = document.querySelector(".shadow");

        window.onload = () => {
            for (let i = 0; i < gallery.length; i++) {
                totalImg.textContent = gallery.length; //passing total img length to totalImg variable
                let newIndex = i; //passing i value to newIndex variable
                let clickedImgIndex; //creating new variable

                gallery[i].onclick = () => {
                    clickedImgIndex = i; //passing cliked image index to created variable (clickedImgIndex)
                    function preview() {
                        currentImg.textContent = newIndex + 1; //passing current img index to currentImg varible with adding +1
                        let imageURL = gallery[newIndex].querySelector("img").src; //getting user clicked img url
                        previewImg.src = imageURL; //passing user clicked img url in previewImg src
                    }
                    preview(); //calling above function

                    const prevBtn = document.querySelector(".prev");
                    const nextBtn = document.querySelector(".next");
                    if (newIndex == 0) { //if index value is equal to 0 then hide prevBtn
                        prevBtn.style.display = "none";
                    }
                    if (newIndex >= gallery.length - 1) { //if index value is greater and equal to gallery length by -1 then hide nextBtn
                        nextBtn.style.display = "none";
                    }
                    prevBtn.onclick = () => {
                        newIndex--; //decrement index
                        if (newIndex == 0) {
                            preview();
                            prevBtn.style.display = "none";
                        } else {
                            preview();
                            nextBtn.style.display = "block";
                        }
                    }
                    nextBtn.onclick = () => {
                        newIndex++; //increment index
                        if (newIndex >= gallery.length - 1) {
                            preview();
                            nextBtn.style.display = "none";
                        } else {
                            preview();
                            prevBtn.style.display = "block";
                        }
                    }
                    document.querySelector("body").style.overflow = "hidden";
                    previewBox.classList.add("show");
                    shadow.style.display = "block";
                    closeIcon.onclick = () => {
                        newIndex = clickedImgIndex; //assigning user first clicked img index to newIndex
                        prevBtn.style.display = "block";
                        nextBtn.style.display = "block";
                        previewBox.classList.remove("show");
                        shadow.style.display = "none";
                        document.querySelector("body").style.overflow = "scroll";
                    }
                }

            }

        }

    </script>
</body>
</html>


